# python cache
__pycache__/
*.py[cod]
*$py.class

# tool cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# environments
.env
.venv/

# build and packaging
build/
dist/
*.egg-info/
.eggs/

# pycharm
.idea/

# visual studio code
.factorypath

# osx
.DS_Store

# vim
*.swp
*.swo

# patch
*.orig
*.rej
